USE [master]
GO
/****** Object:  Database [PM_01_519_Korshunova]    Script Date: 19.04.2023 17:14:06 ******/
CREATE DATABASE [PM_01_519_Korshunova]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PM_01_519_Korshunova', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PM_01_519_Korshunova.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'PM_01_519_Korshunova_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\PM_01_519_Korshunova_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PM_01_519_Korshunova].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PM_01_519_Korshunova]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 19.04.2023 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Activity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_event] [int] NULL,
	[Activity_name] [varchar](150) NULL,
	[Day] [int] NULL,
	[Time_start] [time](7) NULL,
	[ID_Moderator] [int] NULL,
	[ID_Jury_1] [int] NULL,
	[ID_Jury_2] [int] NULL,
	[ID_Jury_3] [int] NULL,
	[ID_Jury_4] [int] NULL,
	[ID_Jury_5] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[City]    Script Date: 19.04.2023 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[City](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Country]    Script Date: 19.04.2023 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Country](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[English_name] [varchar](150) NULL,
	[Code] [varchar](100) NULL,
	[Code_2] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Event]    Script Date: 19.04.2023 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Event](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](max) NULL,
	[Date] [date] NULL,
	[Days] [int] NULL,
	[ID_City] [int] NULL,
	[ID_Organizers] [int] NULL,
	[ID_Participants] [int] NULL,
	[Photo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Jury]    Script Date: 19.04.2023 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Jury](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_number] [int] NULL,
	[FIO] [varchar](150) NULL,
	[Gender] [varchar](100) NULL,
	[Mail] [varchar](100) NULL,
	[Birth_date] [date] NULL,
	[ID_country] [int] NULL,
	[Phone] [varchar](100) NULL,
	[Direction] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Photo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Moderator]    Script Date: 19.04.2023 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Moderator](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_number] [int] NULL,
	[FIO] [varchar](100) NULL,
	[Gender] [varchar](100) NULL,
	[Mail] [varchar](100) NULL,
	[Birth_date] [date] NULL,
	[ID_country] [int] NULL,
	[Phone] [varchar](100) NULL,
	[Direction] [varchar](100) NULL,
	[Event] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Photo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Organizers]    Script Date: 19.04.2023 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Organizers](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_number] [int] NULL,
	[FIO] [varchar](150) NULL,
	[Gender] [varchar](100) NULL,
	[Mail] [varchar](100) NULL,
	[Birth_date] [date] NULL,
	[ID_country] [int] NULL,
	[Phone] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Photo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Participants]    Script Date: 19.04.2023 17:14:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Participants](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_number] [int] NULL,
	[FIO] [varchar](150) NULL,
	[Gender] [varchar](100) NULL,
	[Mail] [varchar](100) NULL,
	[Birth_date] [date] NULL,
	[ID_country] [int] NULL,
	[Phone] [varchar](100) NULL,
	[Password] [varchar](100) NULL,
	[Photo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([ID], [ID_event], [Activity_name], [Day], [Time_start], [ID_Moderator], [ID_Jury_1], [ID_Jury_2], [ID_Jury_3], [ID_Jury_4], [ID_Jury_5]) VALUES (1, 3, N'Лидерство в бизнесе', 1, CAST(N'09:00:00' AS Time), 1, 1, NULL, 7, 6, 6)
INSERT [dbo].[Activity] ([ID], [ID_event], [Activity_name], [Day], [Time_start], [ID_Moderator], [ID_Jury_1], [ID_Jury_2], [ID_Jury_3], [ID_Jury_4], [ID_Jury_5]) VALUES (2, 3, N'Технология принятия решений', 2, CAST(N'10:45:00' AS Time), 2, 2, 3, 8, 7, 7)
INSERT [dbo].[Activity] ([ID], [ID_event], [Activity_name], [Day], [Time_start], [ID_Moderator], [ID_Jury_1], [ID_Jury_2], [ID_Jury_3], [ID_Jury_4], [ID_Jury_5]) VALUES (3, 3, N'Искусство коучинга', 2, CAST(N'12:30:00' AS Time), 3, 3, 4, NULL, 8, 8)
SET IDENTITY_INSERT [dbo].[Activity] OFF
SET IDENTITY_INSERT [dbo].[City] ON 

INSERT [dbo].[City] ([ID], [Name]) VALUES (1, N'Абаза')
INSERT [dbo].[City] ([ID], [Name]) VALUES (2, N'Абакан')
INSERT [dbo].[City] ([ID], [Name]) VALUES (3, N'Абдулино')
GO
SET IDENTITY_INSERT [dbo].[City] OFF
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([ID], [Name], [English_name], [Code], [Code_2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[Country] ([ID], [Name], [English_name], [Code], [Code_2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[Country] ([ID], [Name], [English_name], [Code], [Code_2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[Country] OFF
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([ID], [Title], [Date], [Days], [ID_City], [ID_Organizers], [ID_Participants], [Photo]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34, 9, 6, N'/Images/image/1.jpeg')
INSERT [dbo].[Event] ([ID], [Title], [Date], [Days], [ID_City], [ID_Organizers], [ID_Participants], [Photo]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34, 4, 7, N'/Images/image/2.jpeg')
INSERT [dbo].[Event] ([ID], [Title], [Date], [Days], [ID_City], [ID_Organizers], [ID_Participants], [Photo]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2, 2, 2, N'/Images/image/3.jpeg')
SET IDENTITY_INSERT [dbo].[Event] OFF
SET IDENTITY_INSERT [dbo].[Jury] ON 

INSERT [dbo].[Jury] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Direction], [Password], [Photo]) VALUES (1, 805530, N'Галкина Верона Васильевна', N'женский', N'obuckridge@sipes.com', CAST(N'1969-05-18' AS Date), 35, N'7(880)544-61-83', N'Дизайн', N'HHikbP', N'/Images/Jury_image/foto21.jpg')
INSERT [dbo].[Jury] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Direction], [Password], [Photo]) VALUES (2, 757172, N'Герасимова Айлин Ефимовна', N'женский', N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 53, N'7(835)478-61-60', N'Дизайн', N'TuhRzy', N'/Images/Jury_image/foto22.jpg')
INSERT [dbo].[Jury] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Direction], [Password], [Photo]) VALUES (3, 228796, N'Большаков Августин Алексеевич', N'мужской', N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 52, N'7(173)770-55-13', N'ИТ', N'4Y83lz', N'/Images/Jury_image/foto23.jpg')
SET IDENTITY_INSERT [dbo].[Jury] OFF
SET IDENTITY_INSERT [dbo].[Moderator] ON 

INSERT [dbo].[Moderator] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Direction], [Event], [Password], [Photo]) VALUES (1, 460975, N'Царева Виктория Давидовна', N'женский', N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03' AS Date), 33, N'7(567)103-73-32', N'ИТ', N'IT в бизнесе', N'FYi396Dd5u', N'/Images/Moderator_image/foto9.jpg')
INSERT [dbo].[Moderator] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Direction], [Event], [Password], [Photo]) VALUES (2, 137286, N'Зорин Дмитрий Маркович', N'мужской', N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07' AS Date), 57, N'7(79)644-01-06', N'ИТ', N'IT в бизнесе', N'7gi7E8K4Ng', N'/Images/Moderator_image/foto10.jpg')
INSERT [dbo].[Moderator] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Direction], [Event], [Password], [Photo]) VALUES (3, 230784, N'Зотова Анна Тимуровна', N'женский', N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21' AS Date), 11, N'7(488)643-19-98', N'Биг Дата', N'Разработка приложений', N'3L3eA5eEg3', N'/Images/Moderator_image/foto8.jpg')
SET IDENTITY_INSERT [dbo].[Moderator] OFF
SET IDENTITY_INSERT [dbo].[Organizers] ON 

INSERT [dbo].[Organizers] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Password], [Photo]) VALUES (1, 836200, N'Васильев Всеволод Давидович', N'мужской', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16' AS Date), 51, N'7(354)903-53-67', N'1111', N'/Images/Organizer_image/foto1.jpg')
INSERT [dbo].[Organizers] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Password], [Photo]) VALUES (2, 687675, N'Новиков Фёдор Макарович', N'мужской', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03' AS Date), 33, N'7(6562)925-01-77', N'Tj78jXeH68', N'/Images/Organizer_image/foto2.jpg')
INSERT [dbo].[Organizers] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Password], [Photo]) VALUES (3, 438124, N'Фролова Владислава Савельевна', N'женский', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13' AS Date), 43, N'7(12)981-33-56', N'DF9a8cJf82', N'/Images/Organizer_image/foto3.jpg')
SET IDENTITY_INSERT [dbo].[Organizers] OFF
SET IDENTITY_INSERT [dbo].[Participants] ON 

INSERT [dbo].[Participants] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Password], [Photo]) VALUES (1, 696417, N'Ершова Нора Федотовна', N'женский', N'techie@outlook.com', CAST(N'1987-03-26' AS Date), 71, N'+7 (960) 424-07-11', N'tKKevv8%', N'/Images/Participants_image/foto60.jpg')
INSERT [dbo].[Participants] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Password], [Photo]) VALUES (2, 788483, N'Афанасьева Жанна Валентиновна', N'женский', N'agapow@yahoo.com', CAST(N'1988-01-04' AS Date), 34, N'+7 (930) 661-69-31', N'huSfHm4$', N'/Images/Participants_image/foto61.jpg')
INSERT [dbo].[Participants] ([ID], [ID_number], [FIO], [Gender], [Mail], [Birth_date], [ID_country], [Phone], [Password], [Photo]) VALUES (3, 191181, N'Крылова Рая Всеволодовна', N'женский', N'chaikin@yahoo.ca', CAST(N'1988-04-05' AS Date), 73, N'+7 (957) 265-60-68', N'TlUwMw77%', N'/Images/Participants_image/foto62.jpg')
SET IDENTITY_INSERT [dbo].[Participants] OFF
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Event] FOREIGN KEY([ID_event])
REFERENCES [dbo].[Event] ([ID])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Event]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Jury] FOREIGN KEY([ID_Jury_1])
REFERENCES [dbo].[Jury] ([ID])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Jury]
GO
ALTER TABLE [dbo].[Activity]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Moderator] FOREIGN KEY([ID_Moderator])
REFERENCES [dbo].[Moderator] ([ID])
GO
ALTER TABLE [dbo].[Activity] CHECK CONSTRAINT [FK_Activity_Moderator]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_City] FOREIGN KEY([ID_City])
REFERENCES [dbo].[City] ([ID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_City]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Organizers] FOREIGN KEY([ID_Organizers])
REFERENCES [dbo].[Organizers] ([ID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Organizers]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Participants] FOREIGN KEY([ID_Participants])
REFERENCES [dbo].[Participants] ([ID])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Participants]
GO
ALTER TABLE [dbo].[Jury]  WITH CHECK ADD  CONSTRAINT [FK_Jury_Country] FOREIGN KEY([ID_country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Jury] CHECK CONSTRAINT [FK_Jury_Country]
GO
ALTER TABLE [dbo].[Moderator]  WITH CHECK ADD  CONSTRAINT [FK_Moderator_Country] FOREIGN KEY([ID_country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Moderator] CHECK CONSTRAINT [FK_Moderator_Country]
GO
ALTER TABLE [dbo].[Organizers]  WITH CHECK ADD  CONSTRAINT [FK_Organizers_Country] FOREIGN KEY([ID_country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Organizers] CHECK CONSTRAINT [FK_Organizers_Country]
GO
ALTER TABLE [dbo].[Participants]  WITH CHECK ADD  CONSTRAINT [FK_Participants_Country] FOREIGN KEY([ID_country])
REFERENCES [dbo].[Country] ([ID])
GO
ALTER TABLE [dbo].[Participants] CHECK CONSTRAINT [FK_Participants_Country]
GO
USE [master]
GO
